body {
  background-color: #e7f6fb;
}

.ul {
  list-style-type: none;
  margin: 0 !important;
}

.link-li {
  float: left;
}

.link-li a {
  font-size: 20px;
  padding: 8px 12px;
  margin: 0px 12px;
  text-decoration: none;
  color: black;
}

.link-li a:hover {
  font-weight: bold;
}

.post-data,
.comment-data,
.user-detail,
.add-post,
.add-comment,
.box-shadow {
  box-shadow: 0 0 10px 2px #00000061;
}

.postData-detail {
  border: 1px solid #00000061;
}

.post-data:hover,
.comment-data:hover,
.user-data:hover {
  cursor: pointer;
  background-color: aliceblue;
  font-weight: bold;
}

.active {
  font-weight: bold;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.navbar {
  box-shadow: 4px 4px rgb(214, 248, 250);
  margin: 12px 0 16px 0;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #005572;
}

.user-data {
  height: 150px;
  width: 400px;
  column-gap: 30px;
  box-shadow: 0 0 10px 2px lightblue;
}
@media screen and (max-width: 768px) {
  .user-data {
    width: 350px;
  }
}
.card-data {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  clear: right;
}

.image-shadow {
  box-shadow: 3px 3px 5px lightblue;
}

.arrow-up {
  background-color: rgb(143, 143, 227);
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
}
.arrow-down {
  background-color: blue;
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
}
.post-data,
.comment-data {
  position: relative;
}

.trash-btn {
  position: absolute;
  right: 12px;
  padding: 16px;
  top: 0;
}
.comment-trash-btn {
  position: absolute;
  padding: 12px;
  right: 12px;
  top: 4px;
  transform: scale(1.3);
}
.post-edit-btn {
  position: absolute;
  right: 60px;
  top: 0;
  padding: 16px;
}
.comment-edit-btn {
  position: absolute;
  right: 60px;
  top: 4px;
  padding: 12px;
  transform: scale(1.3);
}

.trash-btn:hover,
.comment-trash-btn:hover {
  color: red;
}

.search-header {
  position: relative;
  flex: 1;
}
.search-icon {
  position: absolute;
  top: 36px;
  transform: scale(1.3);
  right: 16px;
}
.cart-symbol {
  transform: scale(1.5);
}
.cart-symbol:hover {
  cursor: pointer;
  color: green;
}
.main-header {
  position: relative;
  position: sticky;
  top: 60px;
  z-index: 1;
  background-color: aliceblue;
}
.count {
  position: absolute;
  top: 8px;
  right: 32px;
}
.search-field {
  border: 1px solid black;
}
.recipie-data {
  cursor: pointer;
}

.card1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.data1 {
  width: 600px;
  column-gap: 30px;
}

.card1-data {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  clear: right;
}

.image-shadow {
  box-shadow: 3px 3px 5px lightblue;
}

.user-data1 {
  box-shadow: 0 0 10px 2px lightblue;
  height: 250px;
}
@media screen and (max-width: 1024px) {
  .user-data1 {
    height: auto;
  }
  .data1 {
    width: 478px;
  }
}
.user-details1 {
  flex: 1;
}

.card-data {
  width: 47%;
  box-shadow: 0 0 10px 2px #00000061;
}
.card1-data:hover {
  cursor: pointer;
}

.cart-symbol {
  position: relative;
}
.added-item {
  position: absolute;
  top: 0;
  right: 8px;
}
.add-cart-btn {
  background-color: #32597b;
  color: white;
}
.add-cart-btn:hover {
  background-color: #32597b;
  color: white;
  font-weight: bold;
}
.main-container {
  clear: both;
}

.quote-detail {
  background-color: aliceblue;
}
.quote-data {
  box-shadow: 0 0 10px 2px #00000061;
}
@media screen and (max-width: 1200px) {
  .user-data {
    height: auto;
  }

  .user-image {
    width: 75%;
  }
}

.a1 {
  gap: 60px;
  margin-left: 28px;
}

@media screen and (max-width: 990px) {
  .a1 {
    gap: 0px;
  }
}
