body {
    background-color: #e7f6fb;
}

ul {
    list-style-type: none;
}

.linkLi {
    float: left;
}

.linkLi a {
    font-size: 20px;
    display: block;
    padding: 8px 12px;
    margin: 0px 12px;
    text-decoration: none;
    color: black;
}

.linkLi a:hover {
    font-weight: bold;
}

.postData,
.commentData,
.postDataDetail {
    border: 1px solid #00000061
}

.postData:hover,
.commentData:hover {
    cursor: pointer;
    background-color: aliceblue;
    font-weight: bold;

}

.active {
    font-weight: bold;
    border-bottom: 1px solid black;
}

.navbar {
    /* background-color: #111871; */
    /* background-color: white; */
    box-shadow: 4px 4px rgb(214, 248, 250);
    border-radius: 8px;
    margin: 16px;
}

ul {
    margin: 0 !important;
}